# quartus
*.rpt
*.txt
*.bak*
*echo*
*.qws
*.qdf

db/
incremental_db/
output_files/
hc_output/

testbenchs/rtl_work/**/*
testbenchs/vsim.wlf
testbenchs/msim_transcript
testbenchs/*.do
testbenchs/*.bak
